@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html {
  scroll-behavior: smooth;
}
* body {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Rajdhani", sans-serif;
}

.wq {
  background-color: 0;
}

.gee {
  size: 25px;
}

div#navigation {
  position: fixed;
  width: 100%;
  padding: 20px;
  left: 70%;
  background-color: rgba(0, 0, 0, 0);
}
div#navigation #hamburger-content {
  cursor: pointer;
}

div#hamburger-content img {
  width: 60px;
  background-color: #000000;
  padding: 8px;
  border-radius: 35px;
  border: #d0e210 2px solid;
}
div#hamburger-content img:hover {
  background-color: #d0e210;
  padding: 8px;
  border-radius: 35px;
}

div#menu {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: top 0.5s;
}
div#menu nav {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div#menu nav ul {
  list-style: none;
  display: block;
}
div#menu nav ul li {
  margin-top: 0;
  margin-top: 100px;
  opacity: 0;
  transition: margin-top 0.8s, opacity 0.8s;
  text-align: center;
}
div#menu nav ul li a {
  color: #ffffff;
  font-size: 3em;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}
div#menu nav ul li a:hover {
  opacity: 1;
  color: #d0e210;
}

div#background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#background-images .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: none;
  animation-name: backgroundImageAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

div#close {
  max-width: 1200px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
div#close img {
  width: 40px;
}

div#menu.open {
  top: 0;
  z-index: 100;
}
div#menu.open nav ul li {
  margin-top: 0;
  opacity: 1;
}

@keyframes backgroundImageAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  div#navigation {
    left: 88%;
  }
  div#menu nav ul li a {
    font-size: 4em;
  }
  div#close {
    top: 20px;
    right: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html {
  scroll-behavior: smooth;
}
* body {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Rajdhani", sans-serif;
}

#azul {
  background-image: url(../images/imagenes/fondo-planeta-ufoweb.co-1.jpg);
  background-size: cover;
  z-index: 1;
}
#azul #verde {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#azul #verde #gris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#azul #verde #gris img {
  width: 150px;
  z-index: 0;
}
#azul #verde #gris h1 {
  color: white;
  margin-top: 50px;
}

#verde {
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar-thumb {
  background: #F87223;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
