main{
    background-color: black;
}

#azul{
    background-image: url(../images/imagenes/fondo-planeta-ufoweb.co-1.jpg);
    background-size: cover;
    z-index: 1;

    #verde{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        #gris{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img{
                width: 200px;
                z-index: 0;
            }
    
            h1{
                color: white;
                margin-top: 50px;
            }
        }

        .caja-serv{
            padding: 50px;

            .card {
                width: 190px;
                height: 254px;
                border-radius: 30px;
                background: #d0e210;
                box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
            }
        }
    }
}

@media(min-width:768px){

    #azul{
    
        #verde{
        
            #gris{
        
                img{
                    width: 450px;
                }
        
                h1{
                    color: white;
                    margin-top: 50px;
                }
            }
        }
    }

}

