footer{
    background-color: #000000;

    #verde{
        padding: 85px 0 85px 0;

        .caj-footer{
            display: flex;
            flex-direction: row;
            
            
            .caj-cont{
                width: 100%;
            }

            .caj-logo{
                justify-content: center;
                    flex-direction: row;
                    align-items: center;

                img{
                    width: 350px;
                    margin-bottom: 20px;
                }

                p{
                    color: white;
                    font-size: 18px;
                    text-align: justify;
                }
            }

            .caj-menu{
                display: flex;
                flex-direction: row;
                margin-top: 50px;
                padding: 50px 0 50px 0;
                border-top: #d0e210 1px solid;

                div{
                    display: flex;
                    flex-direction: column;
                }
            }

            .caj-faq{
                margin-top: 50px;

                ul{
                    
                    li{
                        list-style: none;

                        a{
                            color: white;
                            text-decoration: none;
                            letter-spacing: 2px;
                            font-size: 18px;
                            font-weight: 600;
                            
                            &:hover{
                                color: #d0e210;
                            }
                        }
                    }
                }
            }
        }
    }

    .copy{
        background-color: #d0e210;
        padding: 10px 0 10px 0;
        
        #verde2{
            
            p{
                margin: 0;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}