@import "./reset";
@import "./particles";
@import "./botones";
@import "./header";
@import "./footer";
@import "./reset";

@import "./1inicio";

#verde{
    max-width: 1200px;
    margin: 0 auto;
}

#verde2{
    max-width: 1200px;
    margin: 0 auto;
}

